<!DOCTYPE html>

<html lang="en">
<head>
  <title>Finding Durham</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <style>
    
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    
    .row.content {height: 450px}
    
    
    .sidenav {
      padding-top: 20px;
      background-color: white;
      height: 100%;
    }
    
    
    footer {
      background-color: white;
      color: white;
      padding: 15px;
    }
    
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>


  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    
    </div>
    <div class="col-sm-8 text-left"> 
      <img style = "width:100%" src="https://sciere-static.s3.us-east-2.amazonaws.com/images/homepage/main_pic.jpg"  alt="Durham" /> 	
      <h1>Welcome to <i>Finding Durham</i></h1>
      <p>Do you love to support small business? Welcome to your guide to finding great small businesses in the wonderful city of Durham. Please tell me a little bit about yourself by answering the five questions below. My slightly scientific formula will find a small business you'll love!</p>
      <hr>
  
      <p>    <form action="announce_business" method="post"> {% csrf_token %}
        <label for="general">Which of these excites you the most?</label><br><br>
        &nbsp;&nbsp;<input id="general" type="radio" name="general" value="10"></html>&nbsp;A morning at a flea market<br>
        &nbsp;&nbsp;<input id="general" type="radio" name="general" value="2" >&nbsp; A night on the town<br>
        &nbsp;&nbsp;<input id="general" type="radio" name="general" value="6"checked>&nbsp; An afternoon at the mall<br>
        &nbsp;&nbsp;<input id="general" type="radio" name="general" value="4" >&nbsp; Dinner and a movie<br>
        <br><br>
        <label for="car">What kind of car would you most like to own?</label><br><br>
        &nbsp;&nbsp;<input id="car" type="radio" name="car" value="6"></html>&nbsp;A red sports car<br>
        &nbsp;&nbsp;<input id="car" type="radio" name="car" value="8">&nbsp;A roomy SUV<br>
        &nbsp;&nbsp;<input id="car" type="radio" name="car" value="10"checked>&nbsp;A hybrid or electric <br>
        &nbsp;&nbsp;<input id="car" type="radio" name="car" value="2" >&nbsp; Something classy<br>
        <br><br>
        <label for="golf">What is your favorite type of golf?</label><br><br>
        &nbsp;&nbsp;<input id="golf" type="radio" name="golf" value="2"></html>&nbsp;Real golf<br>
        &nbsp;&nbsp;<input id="golf" type="radio" name="golf" value="5">&nbsp;Miniature golf<br>
        &nbsp;&nbsp;<input id="golf" type="radio" name="golf" value="8"checked>&nbsp;Disc golf<br>
        &nbsp;&nbsp;<input id="golf" type="radio" name="golf" value="10" >&nbsp; What is golf?<br>
        <br><br>  
        <label for="house">Where would you most like to live?</label><br><br>
        &nbsp;&nbsp;<input id="house" type="radio" name="house" value="2"></html>&nbsp;Small apartment in the middle of a city<br>
        &nbsp;&nbsp;<input id="house" type="radio" name="house" value="6" >&nbsp;Country home with a big front porch<br>
        &nbsp;&nbsp;<input id="house" type="radio" name="house" value="8"checked>&nbsp; House in the Suburb that is kind of close to everything <br>
        &nbsp;&nbsp;<input id="house" type="radio" name="house" value="10" >&nbsp; Luxury apartment at the top of a big building<br>
        <br><br> 
        <label for="morning">What do you like to do on a Saturday morning?</label><br><br>
        &nbsp;&nbsp;<input id="morning" type="radio" name="morning" value="4"></html>&nbsp; Get things done<br>
        &nbsp;&nbsp;<input id="morning" type="radio" name="morning" value="8">&nbsp; Get outside for some exercise<br>
        &nbsp;&nbsp;<input id="morning" type="radio" name="morning" value="2"checked>&nbsp; Have a big ol' breakfast<br>
        &nbsp;&nbsp;<input id="morning" type="radio" name="morning" value="10" >&nbsp; Stay in bed<br>
        <br><br>
        <input type="submit" value="submit" style = "color:black">
        <br><br><br>
    </form></p>
    </div>
    <div class="col-sm-2 sidenav">
        <div class="well">
            <p><b>About This Site</b><br><br>
          <img style = "width :100%" src="http://stevesciere.com/static/steve1.jpg" alt="steve">  <br><br>                                 
        
          Hi, I'm Steve Sciere. I made this website to learn more about Web Development as I transition to a career in that field. I also wanted to make something to give back to the city of Durham, where I have lived for many years. I hope you'll consider trying out the businesses you discover here!<br><br>
          If you'd like to learn more about my development skills, you can do so at <a href = "http://www.stevesciere.tech">stevesciere.tech</a>.
        </p>
          </div>
      <div class="well">
        <p><b>Technologies</b><br><br>
	<img style = "width:100%"  src = "https://sciere-static.s3.us-east-2.amazonaws.com/images/homepage/tech.jpg" alt = "robot"/><br><br>
	  I built this site using Python and Django as a web framework. A mathematical formula compares user preferences with data Django pulls from an SQLite database to find a business the user might like. I plan to add additional pieces to strengthen my Python and Django skills moving forward. 
    <br><br><a href="http://www.stevesciere.tech/email/" >Contact Me</a><br><br>
  </p>
      </div>
      <br>
    
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright 2019</p>
</footer>

</body>
</html>
